<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

    <% include ./partials/_header %>

    <% if (typeof user !== "undefined") { %>
      <h3> My URLs: </h3>
      <ul>
        <% for (let key in urls) { %>
          <li>
            <div class="row" style="padding:0.5px;">
              <div class="col-5" style="border-bottom:1px solid gray">
                <strong><a href="/u/<%= key %>"><%= key %></a></strong>: <%= urls[key] %>
              </div>
              <div class="col-auto" style="border-bottom:1px solid gray">
                <a class="btn btn-info" href="/urls/<%= key %>" role="button" style="padding:1.6px;"> Edit 🤔 </a>
                <form class="form-inline" method="POST" action="/urls/<%= key %>/delete" style="display: inline-block; padding: 3px;">
                  <button type="submit" class="btn btn-warning" style="padding:1.6px;">Delete 😱</button>
                </form>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h3> 😕 Please register or login to see below contents... </h3>
    <% } %>

  </body>

</html>