<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

    <!-- Add EJS code here -->
    <% include ./partials/_header %>
    <a href="/urls/new" style="display: inline-block; margin-bottom: 20px"> Create new TinyURL </a>

    <h3> My URLs </h3>
    <ul>
      <% for (let key in urls) { %>
        <li>
          <div class="row" style="padding:0.5px;">
            <div class="col-5" style="border-bottom:1px solid gray">
              <strong><a href="/urls/<%= key %>"><%= key %></a></strong>: <%= urls[key] %>
            </div>
            <div class="col-auto" style="border-bottom:1px solid gray">
              <form class="form-inline" method="GET" action="/urls/<%= key %>" style="display: inline-block; padding: 3px;">
                <button type="submit" class="btn btn-info" style="margin-right:1px; padding:1.6px;">Edit 🤔</button>
              </form>
              <form class="form-inline" method="POST" action="/urls/<%= key %>/delete" style="display: inline-block; padding: 3px;">
                <button type="submit" class="btn btn-warning" style="margin-left:1px; padding:1.6px;">Delete 😱</button>
              </form>
            </div>
          </div>
        </li>
      <% } %>
    </ul>

  </body>

</html>